[Desktop Entry]
Type=Application
Name=Bernard
Name[fr]=Bernard
GenericName=Migration Assistant
GenericName[fr]=Assistant de migration
Comment=Move your accounts, files and apps from one computer to another
Comment[fr]=Transférer comptes, fichiers et applications d'un ordinateur à l'autre
Exec=bernard gui
Icon=bernard
Terminal=false
Categories=System;Settings;
Keywords=migration;transfer;import;windows;mac;
Keywords[fr]=migration;transfert;importer;exporter;ancien ordinateur;nouvel ordinateur;
StartupNotify=true
